.postCardContainer {
  padding: 1rem;
  border: var(--default-border-value);
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow-value);
  background-color: var(--secondary-color);
  height: 8rem;

  overflow: hidden;
}

.postCardContainer:hover {
  transform: scale(1.02);
}

.postCardHeader {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.postCardHeader > a {
  color: inherit;
}

.postCardHeader > a:hover {
  color: var(--accent-color);
}
